<footer class="footer">
  <div class="outer">
    <ul class="list-inline">
      <li>&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %></li>
      <li><%= __('Author') %> <span>Vera</span></li>
    </ul>
  </div>
</footer>
